
html, body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
}

*, *::before, *::before {
  box-sizing: border-box;
}

.intro {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__container-main {
    font-family: 'Khand', sans-serif;
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 95%;
    height: 50%;
    position: absolute;
    top: 15%;
    right:15%;
    overflow: hidden;
}

.intro__container-left {
    height: 100%;
    width: 100%;
    text-align: right;
    overflow: hidden;
}

.intro__title-left {
    margin-right: 5%;
    margin-top:0;
    margin-bottom: 0;
    font-size: 8em;
}

.intro__sub-left {
    margin-right: 5%;
    margin-top:0;
    margin-bottom: 0;
    font-size: 6em;
}


.intro__line {
    background-color: black;
    height: 100%;
    width: 4px;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
}

.intro__container-right {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-right: 50px;
}

.intro__title-right {
    margin-left:5%;
    margin-top:0;
    margin-bottom: 0;
    font-size: 8em;
}

.intro__sub-right {
    margin-left: 5%;
    margin-top:0;
    margin-bottom: 0;
    font-size: 6em;
}

.fa-chevron-down {
    position: absolute;
    color: black;
    font-size: 3em;
    top: 80%;
    left: 45%;
}

.about {
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Catamaran', sans-serif;
    text-align: right;
    padding-right: 150px;
    margin-top: 100px;
    margin-bottom: 120px;
}

.about__text-container {
    overflow: hidden;
    height: 55px;
}

.about__text-one {
    font-size: 3.3em;
    margin:0;
    line-height: 100%;
    transform: translateY(100%);
    transition: 1.2s;
}

.about__text-one.up {
    transform: translateY(0);
}

.about__text-two {
    font-size: 3.3em;
    margin:0;
    line-height: 100%;
    transform: translateY(100%);
    transition: 1.2s;
}

.about__text-two.up {
    transform: translateY(0);
}

.about__text-three {
    font-size: 3.3em;
    font-weight: bold;
    margin:0;
    line-height: 100%;
    transform: translateY(100%);
    transition: 1.2s;
}

.about__text-three.up {
    transform: translateY(0);
}

.about__text-four {
    font-size: 3.3em;
    margin:0;
    line-height: 100%;
    transform: translateY(100%);
    transition: 1.2s;
}

.about__text-four.up {
    transform: translateY(0);
}

.about__text-five {
    font-size: 3.3em;
    margin:0;
    line-height: 100%;
    transform: translateY(100%);
    transition: 1.2s;
}

.about__text-five.up {
    transform: translateY(0);
}

.about__text-six {
    color: black;
    font-size: 3.3em;
    margin:0;
    line-height: 100%;
    transform: translateY(100%);
    transition: 1.2s;
}

.about__text-six.up {
    transform: translateY(0);
}

.about__text-seven {
    color: black;
    font-size: 3.3em;
    margin:0;
    line-height: 100%;
    transform: translateY(100%);
    transition: 1.2s;
}

.about__text-seven.up {
    transform: translateY(0);
}

.work {
    color: black;
    position: relative;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.work__title-container {
    position: relative;
    height: 155px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 140px;
}

.work__title {
    font-family: 'Khand', sans-serif;
    font-size: 6em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transform: translateY(120%);
    transition: 1s;
}

.work__title.up {
    transform: translateY(0);
}


.work__title-underline {
    position: absolute;
    top: 120px;
    background-color: black;
    height: 4px;
    width: 100%;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 50px;
    transform: translateX(-100%);
    transition: .5s;
    transition-delay: .5s;
}

.work__title-underline.right {
    transform: translateX(0);
}

.projects-container {
    color: black;
    position: relative;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.project-container-one {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(25%);
    transition: .5s;
    border: 1px solid black;
}

.project-container-one.show {
    transform: translateY(0);
}

.project-container-two {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(25%);
    transition: .6s;
    border: 1px solid black;
}

.project-container-two.show {
    transform: translateY(0);
}

.project-container-three {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(25%);
    transition: .7s;
    border: 1px solid black;
}

.project-container-three.show {
    transform: translateY(0);
}

.project-container-four {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(25%);
    transition: .8s;
    border: 1px solid black;
}

.project-container-four.show {
    transform: translateY(0);
}

.project-container-five {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(25%);
    transition: .9s;
    border: 1px solid black;
}

.project-container-five.show {
    transform: translateY(0);
}

.project-container-six {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(25%);
    transition: 1s;
    border: 1px solid black;
}

.project-container-six.show {
    transform: translateY(0);
}

.project-image {
    opacity: 1;
    display: block;
    width: 350px;
    filter: grayscale(100%);
    /* height: auto; */
    transition: .5s ease;

}

.project-overlay {
    position: relative;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.project-container-one:hover .project-image {
    /* opacity: 0.2; */
    filter: grayscale(0);
    transform: scale(1.1);
}

.project-container-one:hover .project-overlay {
    opacity: 1;
}

.project-container-one:hover .project-show-more {
    transform: translateY(0);
}

.project-container-one:hover .more {
    transform: translateY(0);
}


.project-container-two:hover .project-image {
     /* opacity: 0.2; */
     filter: grayscale(0);
     transform: scale(1.1);
}

.project-container-two:hover .project-overlay {
    opacity: 1;
}

.project-container-two:hover .project-show-more {
    transform: translateY(0);
}

.project-container-two:hover .more {
    transform: translateY(0);
}


.project-container-three:hover .project-image {
    /* opacity: 0.2; */
    filter: grayscale(0);
    transform: scale(1.1);
}

.project-container-three:hover .project-overlay {
    opacity: 1;
}

.project-container-three:hover .project-show-more {
    transform: translateY(0);
}

.project-container-three:hover .more {
    transform: translateY(0);
}



.project-container-four:hover .project-image {
    /* opacity: 0.2; */
    filter: grayscale(0);
    transform: scale(1.1);
}

.project-container-four:hover .project-overlay {
    opacity: 1;
}

.project-container-four:hover .project-show-more {
    transform: translateY(0);
}

.project-container-four:hover .more {
    transform: translateY(0);
}


.project-container-five:hover .project-image {
    /* opacity: 0.2; */
    filter: grayscale(0);
    transform: scale(1.1);
}

.project-container-five:hover .project-overlay {
    opacity: 1;
}

.project-container-five:hover .project-show-more {
    transform: translateY(0);
}

.project-container-five:hover .more {
    transform: translateY(0);
}


.project-container-six:hover .project-image {
    /* opacity: 0.2; */
    filter: grayscale(0);
    transform: scale(1.1);
}

.project-container-six:hover .project-overlay {
    opacity: 1;
}

.project-container-six:hover .project-show-more {
    transform: translateY(0);
}

.project-container-six:hover .more {
    transform: translateY(0);
}


.project-name {
    color: black;
    font-weight: bold;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.5em;
    /* font-weight: bold; */
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.project-show-more {
    position:absolute;
    top:130px;
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(100%);
    transition: .3s ease;
    /* transition: all 0.3s ease-in-out 0s; */
}

.more {
    font-family: 'Khand', sans-serif;
    font-size: 1.8em;
    /* font-weight: bold; */
    color: white;
    text-decoration: none;
    top: 10px;
    text-align: left;
    margin-left: 20px;
    transform: translateY(100%);
    transition: .4s ease;
    text-align: center;
}



footer {
    /* position: relative; */
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    /* background-color: black; */
    color: white;
    font-family: 'Khand', sans-serif;
    border-top: 1px solid black;
    /* box-shadow: 0 -2 1px rgba(0, 0, 0, 0.12),
              0 -2 2px rgba(0, 0, 0, 0.12),
              0 -2 4px rgba(0, 0, 0, 0.12),
              0 -2 8px rgba(0, 0, 0, 0.12),
              0 -2 16px rgba(0, 0, 0, 0.12); */
}

/* .icon-link {
    position: absolute;
    padding: 0;
    margin: 0;
} */

.linkedin-logo {
    height: 25px;
    width: 25px;
    margin-left: 25px;
    margin-right: 25px;
    /* transition: scale(1); */
    transition: .2s ease;
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.linkedin-logo:hover {
    transform: scale(1.2);
}

.github-logo {
    height: 26px;
    width: 26px;
    margin-left: 25px;
    margin-right: 25px;
    transition: .2s ease;
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.github-logo:hover {
    transform: scale(1.2);
}

.email-logo {
    height: 25px;
    width: 25px;
    margin-left: 25px;
    margin-right: 25px;
    transition: .2s ease;
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.email-logo:hover {
    transform: scale(1.2);
}


@media only screen and (max-width: 1024px) {
    .intro__container-main {
        width: 100%;
        height: 25%;
        top: 30%;
        right: 10%
    }

    .intro__title-left {
        margin-left: 0;
        font-size: 6.5em;
        margin-bottom: 8%;
    }

    .intro__sub-left {
        font-size: 6em;
        margin left: 0;
    }

    .intro__title-right {
        margin-left: 5%;
        font-size: 6.5em;
        margin-bottom: 8%;
    }

    .intro__sub-right {
        font-size: 6em;
    }

    .fa-chevron-down {
        position: absolute;
        color: black;
        font-size: 5em;
        top: 60%;
        left: 45%;
    }

@media only screen and (max-width: 899px) {
    .intro__container-main {
    width: 100%;
    height: 25%;
    top: 30%;
    right: 10%
    }

    .intro__title-left {
        margin-left: 0;
        font-size: 4.5em;
        margin-bottom: 8%;
    }

    .intro__sub-left {
        font-size: 4em;
    }

    .intro__title-right {
        margin-left: 5%;
        font-size: 4.5em;
        margin-bottom: 8%;
    }

    .intro__sub-right {
        font-size: 4em;
    }

    .fa-chevron-down {
        position: absolute;
        color: black;
        font-size: 4em;
        top: 65%;
        left: 45%;
    }
}

@media only screen and (max-width: 480px) {
    .intro__container-main {
        width: 100%;
        height: 18%;
        top: 35%;
        right: 10%
    }

    .intro__title-left {
        margin-left: 0;
        font-size: 2em;
        margin-bottom: 10%;
    }

    .intro__sub-left {
        font-size: 2em;
    }

    .intro__title-right {
        margin-left: 5%;
        font-size: 2em;
        margin-bottom: 10%;
    }

    .intro__sub-right {
        font-size: 2em;
    }

    .fa-chevron-down {
        position: absolute;
        color: black;
        font-size: 2em;
        top: 55%;
        left: 45%;
    }

    .about {
        padding-right: 10%;
    }

    .about__text-container {
        height: 5%;
    }

    .about__text-one {
        font-size: 2em;
    }

    .about__text-two {
        font-size: 2em;
    }

    .about__text-three {
        font-size: 2em;
    }

    .about__text-four {
        font-size: 2em;
    }

    .about__text-five {
        font-size: 2em;
    }

    .about__text-six {
        font-size: 2em;
    }

    .about__text-seven {
        font-size: 2em;
    }

    .work-title {
        margin-left: 5%;
        height: 20%;
    }

    .sub {
        font-size: 3em;
    }

    .work-line {
        top: 80%;
    }

    .project-container-one {
        width: 90%;
    }

    .project-container-two {
        width: 90%;
    }

    .project-container-three {
        width: 90%;
    }

    .project-container-four {
        width: 90%;
    }

    .project-container-five {
        width: 90%;
    }

    .project-container-six {
        width: 90%;
    }

}


 @media only screen and (max-width: 320px) {
    .intro__intro__container-main {
        width: 100%;
        height: 16%;
        top: 35%;
        right: 10%
    }

    .intro__title-left {
        margin-left: 0;
        font-size: 1.7em;
        margin-bottom: 8%;
    }

    .intro__sub-left {
        font-size: 1.6em;
    }

    .intro__title-right {
        margin-left: 5%;
        font-size: 1.7em;
        margin-bottom: 10%;
    }

    .intro__sub-right {
        font-size: 1.6em;
    }

    .fa-chevron-down {
        position: absolute;
        color: black;
        font-size: 1.5em;
        top: 55%;
        left: 45%;
    }

    .about-container {
        padding-right: 10%;
    }

    .about-one {
        height: 5%;
    }

    .about-text-one {
        font-size: 2em;
    }

    .about-text-two {
        font-size: 2em;
    }

    .about-text-three {
        font-size: 2em;
    }

    .about-text-four {
        font-size: 2em;
    }

    .about-text-five {
        font-size: 2em;
    }

    .about-text-six {
        font-size: 2em;
    }

    .about-text-seven {
        font-size: 2em;
    }

    .work-title {
        margin-left: 5%;
        height: 20%;
    }

    .sub {
        font-size: 3em;
    }

    .work-line {
        top: 80%;
    }

    .project-container-one {
        width: 90%;
    }

    .project-container-two {
        width: 90%;
    }

    .project-container-three {
        width: 90%;
    }

    .project-container-four {
        width: 90%;
    }

    .project-container-five {
        width: 90%;
    }

    .project-container-six {
        width: 90%;
    }

}
