html, body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
}

*, *::before, *::before {
    box-sizing: border-box;
}

.petition-header {
    position: fixed;
    top:0;
    right: 0;
    margin-top: 30px;
    margin-right: 190px;
    padding-top: 0;
    font-family: 'Khand', sans-serif;
    font-size: 1.4em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


.menu {
    font-size: bold;
    margin-left: 20px;
    position: relative;
    color: black;
    text-decoration: none;
}

.menu:hover {
    color: black;
}

.menu:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
}

.menu:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.project-container {
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}

.petition-title {
    height: 75px;
    width: 140px;
    overflow: hidden;
    margin-top: 85px;
    margin-left: 150px;
    margin-bottom: 35px;
    position: relative;
}

.petition-sub {
    font-family: 'Khand', sans-serif;
    color: black;
    font-size: 3em;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.petition-line {
    position: absolute;
    top: 65px;
    background-color: black;
    height: 4px;
    width: 100%;
    overflow: hidden;
    margin-top: 0;
}

.project-content {
    margin-left: 95px;
    margin-bottom: 115px;
    margin-top:0;
    padding-top: 0;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 3fr 1fr; */
}

.gif-text {
    text-align: left;
    /* margin-top: 5px; */
    margin-left: 60px;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.1em;
    line-height: 150%;
}

.see-on {
    color: black;
}

.gif-container {
    background-color: rgba(0, 0, 0, .8);
    margin-left: 50px;
    padding-top: 0;
    width: 580px;
    height: 298px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    /* border: 1px solid black; */
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .project-gif {
     width: 550px;
     margin:0;
     padding: 0;
     border-radius: 3px;
 }



 footer {
     /* position: relative; */
     padding-top: 10px;
     padding-bottom: 10px;;
     margin-top: auto;
     display: flex;
     flex-direction: row;
     align-items:center;
     justify-content: center;
     /* background-color: black; */
     color: white;
     font-family: 'Khand', sans-serif;
     border-top: 1px solid black;
     /* box-shadow: 0 -2 1px rgba(0, 0, 0, 0.12),
               0 -2 2px rgba(0, 0, 0, 0.12),
               0 -2 4px rgba(0, 0, 0, 0.12),
               0 -2 8px rgba(0, 0, 0, 0.12),
               0 -2 16px rgba(0, 0, 0, 0.12); */
 }


 .linkedin-logo {
     height: 25px;
     width: 25px;
     margin-left: 25px;
     margin-right: 25px;
     /* transition: scale(1); */
     transition: .2s ease;
     padding: 0;
     margin-bottom: 0;
     cursor: pointer;
 }

 .linkedin-logo:hover {
     transform: scale(1.2);
 }

 .github-logo {
     height: 26px;
     width: 26px;
     margin-left: 25px;
     margin-right: 25px;
     transition: .2s ease;
     padding: 0;
     margin-bottom: 0;
     cursor: pointer;
 }

 .github-logo:hover {
     transform: scale(1.2);
 }

 .email-logo {
     height: 25px;
     width: 25px;
     margin-left: 25px;
     margin-right: 25px;
     transition: .2s ease;
     padding: 0;
     margin-bottom: 0;
     cursor: pointer;
 }

 .email-logo:hover {
     transform: scale(1.2);
 }


 @media only screen and (max-width: 1024px) {
     .project-content {
         margin-left: 95px;
         margin-bottom: 115px;
         margin-top:0;
         padding-top: 0;
         width: 80%;
         display: flex;
         flex-direction: column;
     }

     .petition-header {
         font-size: 2.3em;
         margin-top: 8%;
         margin-right: 10%;
     }

     .petition-title {
         margin-top: 20%;
         margin-bottom: 8%;
         width: 18%;
         height: 20%;
     }

     .petition-sub {
         font-size: 4em;
     }

     .petition-line {
         top: 95%;
     }

     .gif-container {
         width: 90%;
         height: 90%;
         padding-top: 2%;
         padding-bottom: 2%;
         margin-bottom: 8%;
     }

     .project-gif {
         width: 95%;
         height: 95%;
     }

     .gif-text {
         font-size: 1.5em;
         margin-bottom: 8%;
     }

     footer {
         padding-top: 20px;
     }

     .linkedin-logo {
         height: 30px;
         width: 30px;
     }

     .github-logo {
         height: 30px;
         width: 30px;;
     }

     .email-logo {
         height: 30px;
         width: 30px;
     }

 }

 @media only screen and (max-width: 899px) {
     .petition-header {
         font-size: 2em;
         margin-top: 4%;
         margin-right: 10%;
     }

     .project-content {
         margin-left: 5%;
         margin-bottom: 11%;
     }

     .petition-title {
         margin-left: 15%;
         margin-top: 15%;
     }

     .petition-sub {
         font-size: 3em;
     }

     .gif-container {
         margin-bottom: 0;
     }

     .gif-text {
         font-size: 1.5em;
         margin-bottom: 0;
     }

     footer {
         padding-top: 10px;
     }

     .linkedin-logo {
         height: 30px;
         width: 30px;
     }

     .github-logo {
         height: 30px;
         width: 30px;;
     }

     .email-logo {
         height: 30px;
         width: 30px;
     }

 }

 @media only screen and (max-width: 420px) {
     .petition-header {
         width: 100%;
         background-color: black;
         font-size: 1em;
         margin-top: 0;
         margin-right: 0;
         padding-top: 5%;
         padding-right: 10%;
     }

     .menu {
         color: white;
     }

     .petition-title {
         width: 25%;
         margin-left: 10%;
         margin-top: 25%;
         margin-bottom: 10%;
     }

     .project-content {
         margin-left: 5%;
         margin-bottom: 25%;
     }


     .petition-sub {
         font-size: 2em;
     }

     .gif-container {
         width: 100%;
         margin-left: 5%;
         margin-bottom: 8%;
     }

     .gif-text {
         font-size: 1em;
         margin-left: 5%;
         margin-bottom: 15%;
     }

     footer {
         padding-top: 10px;
     }

     .linkedin-logo {
         height: 25px;
         width: 25px;
     }

     .github-logo {
         height: 25px;
         width: 25px;;
     }

     .email-logo {
         height: 25px;
         width: 25px;
     }

 }
