
html, body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
}

*, *::before, *::before {
  box-sizing: border-box;
}

.intro-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-content {
    font-family: 'Khand', sans-serif;
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 95%;
    height: 50%;
    position: absolute;
    top: 15%;
    right:15%;
    overflow: hidden;
}

.intro-left {
    height: 100%;
    width: 100%;
    text-align: right;
    overflow: hidden;
}

.intro-line {
    background-color: black;
    height: 100%;
    width: 4px;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
}

.intro-right {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-right: 50px;
    /* border: 1px solid white; */
}

.intro-sub-left {
    color: black;
    margin-right: 5%;
    margin-top:0;
    margin-bottom: 0;
    font-size: 6em;
}

.intro-title-left {
    color: black;
    margin-right: 5%;
    margin-top:0;
    margin-bottom: 0;
    font-size: 8em;
}

.intro-sub-right {
    color: black;
    margin-left: 5%;
    margin-top:0;
    margin-bottom: 0;
    font-size: 6em;
}

.intro-title-right {
    color: black;
    margin-left:5%;
    margin-top:0;
    margin-bottom: 0;
    font-size: 8em;
}


.fa-chevron-down {
    position: absolute;
    color: black;
    font-size: 3em;
    top: 80%;
    left: 45%;
}

.about-container {
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Catamaran', sans-serif;
    text-align: right;
    padding-right: 150px;
    margin-top: 100px;
    margin-bottom: 120px;
}

.about-one {
    overflow: hidden;
    height: 55px;
}

.about-text-one {
    color: black;
    font-size: 3.3em;
    margin:0;
    line-height: 100%;
    transform: translateY(100%);
    transition: 1.2s;
}

.about-text-one.up {
    transform: translateY(0);
}

.about-text-two {
    color: black;
    font-size: 3.3em;
    margin:0;
    line-height: 100%;
    transform: translateY(100%);
    transition: 1.2s;
}

.about-text-two.up {
    transform: translateY(0);
}

.about-text-three {
    color: black;
    font-size: 3.3em;
    font-weight: bold;
    margin:0;
    line-height: 100%;
    transform: translateY(100%);
    transition: 1.2s;
}

.about-text-three.up {
    transform: translateY(0);
}

.about-text-four {
    color: black;
    font-size: 3.3em;
    margin:0;
    line-height: 100%;
    transform: translateY(100%);
    transition: 1.2s;
}

.about-text-four.up {
    transform: translateY(0);
}

.about-text-five {
    color: black;
    font-size: 3.3em;
    margin:0;
    line-height: 100%;
    transform: translateY(100%);
    transition: 1.2s;
}

.about-text-five.up {
    transform: translateY(0);
}

.about-text-six {
    color: black;
    font-size: 3.3em;
    margin:0;
    line-height: 100%;
    transform: translateY(100%);
    transition: 1.2s;
}

.about-text-six.up {
    transform: translateY(0);
}

.about-text-seven {
    color: black;
    font-size: 3.3em;
    margin:0;
    line-height: 100%;
    transform: translateY(100%);
    transition: 1.2s;
}

.about-text-seven.up {
    transform: translateY(0);
}

.work-container {
    color: black;
    position: relative;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.work-title {
    position: relative;
    height: 155px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 140px;
}

.sub {
    font-family: 'Khand', sans-serif;
    font-size: 6em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transform: translateY(120%);
    transition: 1s;
}

.sub.up {
    transform: translateY(0);
}


.work-line {
    position: absolute;
    top: 120px;
    background-color: black;
    height: 4px;
    width: 100%;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 50px;
    transform: translateX(-100%);
    transition: .5s;
    transition-delay: .5s;
}

.work-line.right {
    transform: translateX(0);
}

.projects-container {
    color: black;
    position: relative;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.project-container-one {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(25%);
    transition: .5s;
    border: 1px solid black;
}

.project-container-one.show {
    transform: translateY(0);
}

.project-container-two {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(25%);
    transition: .6s;
    border: 1px solid black;
}

.project-container-two.show {
    transform: translateY(0);
}

.project-container-three {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(25%);
    transition: .7s;
    border: 1px solid black;
}

.project-container-three.show {
    transform: translateY(0);
}

.project-container-four {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(25%);
    transition: .8s;
    border: 1px solid black;
}

.project-container-four.show {
    transform: translateY(0);
}

.project-container-five {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(25%);
    transition: .9s;
    border: 1px solid black;
}

.project-container-five.show {
    transform: translateY(0);
}

.project-container-six {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(25%);
    transition: 1s;
    border: 1px solid black;
}

.project-container-six.show {
    transform: translateY(0);
}

.project-image {
    opacity: 1;
    display: block;
    width: 350px;
    filter: grayscale(100%);
    /* height: auto; */
    transition: .5s ease;

}

.project-overlay {
    position: relative;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.project-container-one:hover .project-image {
    /* opacity: 0.2; */
    filter: grayscale(0);
    transform: scale(1.1);
}

.project-container-one:hover .project-overlay {
    opacity: 1;
}

.project-container-one:hover .project-show-more {
    transform: translateY(0);
}

.project-container-one:hover .more {
    transform: translateY(0);
}


.project-container-two:hover .project-image {
     /* opacity: 0.2; */
     filter: grayscale(0);
     transform: scale(1.1);
}

.project-container-two:hover .project-overlay {
    opacity: 1;
}

.project-container-two:hover .project-show-more {
    transform: translateY(0);
}

.project-container-two:hover .more {
    transform: translateY(0);
}


.project-container-three:hover .project-image {
    /* opacity: 0.2; */
    filter: grayscale(0);
    transform: scale(1.1);
}

.project-container-three:hover .project-overlay {
    opacity: 1;
}

.project-container-three:hover .project-show-more {
    transform: translateY(0);
}

.project-container-three:hover .more {
    transform: translateY(0);
}



.project-container-four:hover .project-image {
    /* opacity: 0.2; */
    filter: grayscale(0);
    transform: scale(1.1);
}

.project-container-four:hover .project-overlay {
    opacity: 1;
}

.project-container-four:hover .project-show-more {
    transform: translateY(0);
}

.project-container-four:hover .more {
    transform: translateY(0);
}


.project-container-five:hover .project-image {
    /* opacity: 0.2; */
    filter: grayscale(0);
    transform: scale(1.1);
}

.project-container-five:hover .project-overlay {
    opacity: 1;
}

.project-container-five:hover .project-show-more {
    transform: translateY(0);
}

.project-container-five:hover .more {
    transform: translateY(0);
}


.project-container-six:hover .project-image {
    /* opacity: 0.2; */
    filter: grayscale(0);
    transform: scale(1.1);
}

.project-container-six:hover .project-overlay {
    opacity: 1;
}

.project-container-six:hover .project-show-more {
    transform: translateY(0);
}

.project-container-six:hover .more {
    transform: translateY(0);
}


.project-name {
    color: black;
    font-weight: bold;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.5em;
    /* font-weight: bold; */
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.project-show-more {
    position:absolute;
    top:130px;
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(100%);
    transition: .3s ease;
    /* transition: all 0.3s ease-in-out 0s; */
}

.more {
    font-family: 'Khand', sans-serif;
    font-size: 1.8em;
    /* font-weight: bold; */
    color: white;
    text-decoration: none;
    top: 10px;
    text-align: left;
    margin-left: 20px;
    transform: translateY(100%);
    transition: .4s ease;
    text-align: center;
}



footer {
    /* position: relative; */
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    /* background-color: black; */
    color: white;
    font-family: 'Khand', sans-serif;
    border-top: 1px solid black;
    /* box-shadow: 0 -2 1px rgba(0, 0, 0, 0.12),
              0 -2 2px rgba(0, 0, 0, 0.12),
              0 -2 4px rgba(0, 0, 0, 0.12),
              0 -2 8px rgba(0, 0, 0, 0.12),
              0 -2 16px rgba(0, 0, 0, 0.12); */
}

/* .icon-link {
    position: absolute;
    padding: 0;
    margin: 0;
} */

.linkedin-logo {
    height: 25px;
    width: 25px;
    margin-left: 25px;
    margin-right: 25px;
    /* transition: scale(1); */
    transition: .2s ease;
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.linkedin-logo:hover {
    transform: scale(1.2);
}

.github-logo {
    height: 26px;
    width: 26px;
    margin-left: 25px;
    margin-right: 25px;
    transition: .2s ease;
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.github-logo:hover {
    transform: scale(1.2);
}

.email-logo {
    height: 25px;
    width: 25px;
    margin-left: 25px;
    margin-right: 25px;
    transition: .2s ease;
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.email-logo:hover {
    transform: scale(1.2);
}



 /*
 /////////////////////////////////////////////////
 IMAGE BOARD
 //////////////////////////////////////////////// */



 /*
 /////////////////////////////////////////////////
PETITION
 //////////////////////////////////////////////// */

 .petition-title {
     height: 80px;
     width: 140px;
     overflow: hidden;
     margin-top: 70px;
     margin-left: 150px;
     margin-bottom: 60px;
     position: relative;
 }

 .petition-sub {
     font-family: 'Khand', sans-serif;
     color: black;
     font-size: 3em;
     margin: 0;
     padding: 0;
     overflow: hidden;
 }

 .petition-line {
     position: absolute;
     top: 65px;
     background-color: black;
     height: 4px;
     width: 100%;
     overflow: hidden;
     margin-top: 0;
 }

 /*
 /////////////////////////////////////////////////
GITHUB
 //////////////////////////////////////////////// */

 .github-title {
     height: 80px;
     width: 250px;
     overflow: hidden;
     margin-top: 70px;
     margin-left: 150px;
     margin-bottom: 60px;
     position: relative;
 }

 .github-sub {
     font-family: 'Khand', sans-serif;
     color: black;
     font-size: 3em;
     margin: 0;
     padding: 0;
     overflow: hidden;
 }

 .github-line {
     position: absolute;
     top: 65px;
     background-color: black;
     height: 4px;
     width: 100%;
     overflow: hidden;
     margin-top: 0;
 }


 /*
 /////////////////////////////////////////////////
SPOTIFY
 //////////////////////////////////////////////// */

 .spotify-title {
     height: 80px;
     width: 260px;
     overflow: hidden;
     margin-top: 70px;
     margin-left: 150px;
     margin-bottom: 60px;
     position: relative;
 }

 .spotify-sub {
     font-family: 'Khand', sans-serif;
     color: black;
     font-size: 3em;
     margin: 0;
     padding: 0;
     overflow: hidden;
 }

 .spotify-line {
     position: absolute;
     top: 65px;
     background-color: black;
     height: 4px;
     width: 100%;
     overflow: hidden;
     margin-top: 0;
 }

 /*
 /////////////////////////////////////////////////
 SPOTIFY
 //////////////////////////////////////////////// */

 .connect-title {
     height: 80px;
     width: 238px;
     overflow: hidden;
     margin-top: 70px;
     margin-left: 150px;
     margin-bottom: 60px;
     position: relative;
 }

 .connect-sub {
     font-family: 'Khand', sans-serif;
     color: black;
     font-size: 3em;
     margin: 0;
     padding: 0;
     overflow: hidden;
 }

 .connect-line {
     position: absolute;
     top: 65px;
     background-color: black;
     height: 4px;
     width: 100%;
     overflow: hidden;
     margin-top: 0;
 }

/* @media screen and ( max-height: 699px ) {

    .social-title {
        height: 75px;
        width: 255px;
        margin-top: 60px;
    }

    .social-sub {
        font-size: 2.8em;
    }

    .social-line {
        position: absolute;
        top: 60px;
        background-color: black;
        height: 3px;
        width: 100%;
        overflow: hidden;
        margin-top: 0;
    }

 } */

@media screen and (min-width: 900px) and (max-width: 1024px) {
    .intro-content {
        width: 100%;
        height: 18%;
        top: 40%;
        right: 10%
    }

    .intro-title-left {
        font-size: 6em;
    }

    .intro-sub-left {
        font-size: 4em;
    }

    .intro-title-right {
        font-size: 6em;
    }

    .intro-sub-right {
        font-size: 4em;
    }

    .fa-chevron-down {
        position: absolute;
        color: black;
        font-size: 5em;
        top: 70%;
        left: 45%;
    }

}
