
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
*, *::before, *::before {
  box-sizing: border-box;
}

.intro-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-content {
    font-family: 'Khand', sans-serif;
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 80%;
    height: 40%;
    position: absolute;
    top: 20%;
    right:25%;
    overflow: hidden;
}

.intro-left {
    height: 100%;
    width: 100%;
    text-align: right;
    overflow: hidden;
}

.intro-line {
    background-color: white;
    height: 100%;
    width: 4px;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
}

.intro-right {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* border: 1px solid white; */
}

.intro-sub-left {
    color: white;
    margin-right: 5%;
    margin-top:0;
    margin-bottom: 0;
    font-size: 4em;
}

.intro-title-left {
    color: white;
    margin-right: 5%;
    margin-top:0;
    margin-bottom: 0;
    font-size: 6em;
}

.intro-sub-right {
    color: white;
    margin-left: 5%;
    margin-top:0;
    margin-bottom: 0;
    font-size: 4em;
}

.intro-title-right {
    color: white;
    margin-left:5%;
    margin-top:0;
    margin-bottom: 0;
    font-size: 6em;
}

.intro-button {
    position: absolute;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    top: 73%;
    right: 58%;
    height: 50px;
    width: 110px;
    font-family: 'Khand', sans-serif;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 3px;
    padding-top: 5px;
}

i.fas {
    position: absolute;
    color: white;
    font-size: 3em;
    top: 80%;
    left: 40%;
}

.about-container {
    color: white;
    position: relative;
    width: 100%;
    height: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-container {
    color: white;
    position: relative;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub {
    font-family: 'Khand', sans-serif;
    font-size: 4em;
    margin: 0;
    opacity: 0;
    transition: .3s;
}

.sub.show {
    opacity: 1;
}


.work-line {
    background-color: white;
    height: 4px;
    width: 16%;
    overflow: hidden;
    margin-bottom: 50px;
    opacity: 0;
    transition: .3s;
}

.work-line.show {
    opacity: 1;
}

.projects-container {
    color: white;
    position: relative;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project-container {
    background-color: black;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.12),
              0 0 2px rgba(255, 255, 255, 0.12),
              0 0 4px rgba(255, 255, 255, 0.12),
              0 0 8px rgba(255, 255, 255, 0.12),
              0 0 16px rgba(255, 255, 255, 0.12);
    opacity: 0;
    transition: .3s;
}

.project-container.show {
    opacity: 1;
}

.project-image {
    opacity: 1;
    display: block;
    width: 350px;
    /* height: auto; */
    transition: .5s ease;
    backface-visibility: hidden;
}

.project-overlay {
    position: relative;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.project-container:hover .project-image {
  opacity: 0.2;
}

.project-container:hover .project-overlay {
  opacity: 1;
}

.project-container:hover .project-show-more {
    transform: translateY(0);
    }

.project-container:hover .more {
    transform: translateY(0);
    }

.project-name {
    color: white;
    font-weight: bold;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.5em;
    /* font-weight: bold; */
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.project-show-more {
    position:absolute;
    top:145px;
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(100%);
    transition: .3s ease;
}

.more {
    font-family: 'Khand', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: left;
    margin-left: 20px;
    transform: translateY(100%);
    transition: .4s ease;
}
