
html, body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
}

*, *::before, *::before {
  box-sizing: border-box;
}

.intro-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-content {
    font-family: 'Khand', sans-serif;
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 80%;
    height: 40%;
    position: absolute;
    top: 20%;
    right:25%;
    overflow: hidden;
}

.intro-left {
    height: 100%;
    width: 100%;
    text-align: right;
    overflow: hidden;
}

.intro-line {
    background-color: black;
    height: 100%;
    width: 4px;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
}

.intro-right {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* border: 1px solid white; */
}

.intro-sub-left {
    color: black;
    margin-right: 5%;
    margin-top:0;
    margin-bottom: 0;
    font-size: 4em;
}

.intro-title-left {
    color: black;
    margin-right: 5%;
    margin-top:0;
    margin-bottom: 0;
    font-size: 6em;
}

.intro-sub-right {
    color: black;
    margin-left: 5%;
    margin-top:0;
    margin-bottom: 0;
    font-size: 4em;
}

.intro-title-right {
    color: black;
    margin-left:5%;
    margin-top:0;
    margin-bottom: 0;
    font-size: 6em;
}

/* .intro-button {
    position: absolute;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    top: 73%;
    right: 58%;
    height: 50px;
    width: 110px;
    font-family: 'Khand', sans-serif;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 3px;
    padding-top: 5px;
} */

.fa-chevron-down {
    position: absolute;
    color: black;
    font-size: 3em;
    top: 80%;
    left: 40%;
}

.about-container {
    color: black;
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Catamaran', sans-serif;
    text-align: right;
    padding-right: 150px;
    margin-top: 150px;
    margin-bottom: 200px;
}

.about-text {
    font-size: 3em;
    margin:0;
    line-height: 100%;
}

.work-container {
    color: black;
    position: relative;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.work-title {
    position: relative;
    height: 155px;
    overflow: hidden;
    margin-bottom: 80px;
    margin-left: 140px;
}

.sub {
    font-family: 'Khand', sans-serif;
    font-size: 6em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transform: translateY(120%);
    transition: 1s;
}

.sub.up {
    transform: translateY(0);
}


.work-line {
    position: absolute;
    top: 120px;
    background-color: black;
    height: 4px;
    width: 100%;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 50px;
    transform: translateX(-100%);
    transition: .5s;
    transition-delay: .5s;
}

.work-line.right {
    transform: translateX(0);
}

.projects-container {
    color: black;
    position: relative;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 45px;
}

.project-container-one {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(50%);
    transition: .5s;
    border: 1px solid black;
}

.project-container-one.show {
    transform: translateY(0);
}

.project-container-two {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(50%);
    transition: .6s;
    border: 1px solid black;
}

.project-container-two.show {
    transform: translateY(0);
}

.project-container-three {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(50%);
    transition: .7s;
    border: 1px solid black;
}

.project-container-three.show {
    transform: translateY(0);
}

.project-container-four {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(50%);
    transition: .8s;
    border: 1px solid black;
}

.project-container-four.show {
    transform: translateY(0);
}

.project-container-five {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(50%);
    transition: .9s;
    border: 1px solid black;
}

.project-container-five.show {
    transform: translateY(0);
}

.project-container-six {
    background-color: white;
    position: relative;
    width: 350px;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    transform: translateY(50%);
    transition: 1s;
    border: 1px solid black;
}

.project-container-six.show {
    transform: translateY(0);
}

.project-image {
    opacity: 1;
    display: block;
    width: 350px;
    /* height: auto; */
    transition: .5s ease;
    backface-visibility: hidden;
}

.project-overlay {
    position: relative;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.project-container-one:hover .project-image {
    opacity: 0.2;
}

.project-container-one:hover .project-overlay {
    opacity: 1;
}

.project-container-one:hover .project-show-more {
    transform: translateY(0);
}

.project-container-one:hover .more {
    transform: translateY(0);
}


.project-container-two:hover .project-image {
     opacity: 0.2;
}

.project-container-two:hover .project-overlay {
    opacity: 1;
}

.project-container-two:hover .project-show-more {
    transform: translateY(0);
}

.project-container-two:hover .more {
    transform: translateY(0);
}


.project-container-three:hover .project-image {
    opacity: 0.2;
}

.project-container-three:hover .project-overlay {
    opacity: 1;
}

.project-container-three:hover .project-show-more {
    transform: translateY(0);
}

.project-container-three:hover .more {
    transform: translateY(0);
}



.project-container-four:hover .project-image {
    opacity: 0.2;
}

.project-container-four:hover .project-overlay {
    opacity: 1;
}

.project-container-four:hover .project-show-more {
    transform: translateY(0);
}

.project-container-four:hover .more {
    transform: translateY(0);
}


.project-container-five:hover .project-image {
    opacity: 0.2;
}

.project-container-five:hover .project-overlay {
    opacity: 1;
}

.project-container-five:hover .project-show-more {
    transform: translateY(0);
}

.project-container-five:hover .more {
    transform: translateY(0);
}


.project-container-six:hover .project-image {
    opacity: 0.2;
}

.project-container-six:hover .project-overlay {
    opacity: 1;
}

.project-container-six:hover .project-show-more {
    transform: translateY(0);
}

.project-container-six:hover .more {
    transform: translateY(0);
}


.project-name {
    color: black;
    font-weight: bold;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.5em;
    /* font-weight: bold; */
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.project-show-more {
    position:absolute;
    top:145px;
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(100%);
    transition: .3s ease;
}

.more {
    font-family: 'Khand', sans-serif;
    font-size: 2em;
    /* font-weight: bold; */
    color: white;
    text-decoration: none;
    text-align: left;
    margin-left: 20px;
    transform: translateY(100%);
    transition: .4s ease;
}

footer {
    padding: 15px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    /* background-color: black; */
    color: white;
    font-family: 'Khand', sans-serif;
    border-top: 1px solid black;
}

.linkedin-logo {
    height: 25px;
    width: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.github-logo {
    height: 25px;
    width: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.email-logo {
    height: 25px;
    width: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

/*
/////////////////////////////////////////////////
SOCIAL NETWORK
//////////////////////////////////////////////// */

header {
    position: fixed;
    top:0;
    right: 0;
    margin-top: 30px;
    margin-right: 200px;
    padding-top: 0;
    font-family: 'Khand', sans-serif;
    font-size: 1.4em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}



.menu {
    font-size: bold;
    margin-left: 20px;
    position: relative;
    color: black;
    text-decoration: none;
}

.menu:hover {
    color: black;
}

.menu:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.menu:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.social-container {
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}

.social-title {
    height: 80px;
    width: 272px;
    overflow: hidden;
    margin-top: 70px;
    margin-left: 150px;
    margin-bottom: 60px;
    position: relative;
}

.social-sub {
    font-family: 'Khand', sans-serif;
    color: black;
    font-size: 3em;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.social-line {
    position: absolute;
    top: 70px;
    background-color: black;
    height: 4px;
    width: 100%;
    overflow: hidden;
    margin-top: 0;
}

.social-content {
    margin-left: 95px;
    margin-bottom: 80px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 3fr 1fr; */
}

.gif-text {
    text-align: left;
    /* margin-top: 5px; */
    margin-left: 60px;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.1em;
    line-height: 150%;
}

.see-on {
    color: black;
}

.gif-container {
    background-color: rgba(0, 0, 0, .8);
    margin-left: 50px;
    width: 580px;
    height: 280px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
              0 0 2px rgba(0, 0, 0, 0.12),
              0 0 4px rgba(0, 0, 0, 0.12),
              0 0 8px rgba(0, 0, 0, 0.12),
              0 0 16px rgba(0, 0, 0, 0.12);
    /* border: 1px solid black; */
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .project-gif {
     width: 550px;
     margin:0;
     padding: 0;
     border-radius: 3px;
 }
